@import '../../sass/_colors';

.input-reminder-view {
  position: relative;
  .reminder-view-container {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
    max-height: 200px;
    overflow: scroll;
    box-shadow: 0px 0px 1px map-get($master, 'dividers');
  }
}
